@font-face {
  font-family: typewriter;
  src: url(fonts/momt___-webfont.woff2) format("woff2"),
  url(fonts/momt___-webfont.woff) format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

header {
  color: white;
  background: url(sean-musil--6W6cdlU5dA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  flex: 2;
  z-index: 0;
  text-align: center;
}

h1::before {
  content: "";
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

h1 {
  font-family: typewriter;
  position: relative;
  top: 15vh;
  padding: 1em;
  line-height: 1.5;
}

header p {
  font-size: small;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header a {
  color: white;
  position: relative;
}

header a:hover {
  /* font-weight: bold;
  font-size: 1rem; */
}

main {
  flex: 3;
  height: 100vh;
  background-color: #a0b2c0AA;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top p {
  font-size: 1.2rem;
  line-height: 1.3;
  max-width: 45ch;
}

.top p:last-child {
  margin-top: 1rem;
}

.bold-name {
  font-weight: bold;
}

.bold-name::before {
  content: open-quote;  
}

.bold-name::after {
  content: close-quote;
}

em {
  color: red;
  font-weight: bold;
}

.middle {
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0 1px 5px 0 black;
}

.form-row {
  display: flex;
  padding: 0.8rem 0;
}

label+label {
  margin-left: 5rem;
}

label {
  text-transform: uppercase;

}

input {
  padding: 0 1rem;
  height: 2rem;
  font: inherit;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 2px 0 black;
}

input:valid {
  border: 1px solid green;
}

input[type="password"]:invalid {
  border: 1px solid red;
}

.bottom {
  flex: 1;
  padding: 2rem 3rem;
}

button {
  color: white;
  font-weight: bold;
  padding: 1em 3em;
  margin: 1em 0;
  background-color: rgb(179, 99, 1);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0 black;
}

button:hover {
  background-color: rgb(199, 120, 23);
}

.bottom p {
  font-size: small;
  margin: 1em 0;
}